<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @startup.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @startup.description %>
</p>

<%= link_to 'Edit', edit_startup_path(@startup) %> |
<%= link_to 'Back', startups_path %>
